.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.game-card {
    height: 160px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 10px 6px -6px black;
    background: blue;
    flex: 1 0 20%;
}

.game-card > img {
    display: none;
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 95%;

}

.no-click {
    pointer-events: none;
}

.flipped {
    background: black;
}

.flipped > img {
    display: block;
}

.matched {
    background-color: lightgreen;
    pointer-events: none;
}

.hard > .game-card {
    flex: 1 0 14%;
}
