/*------------------------------------- Element styling */
html {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    padding-top: 10px;
    color: rgb(255, 51, 0);
}

h5 {
    padding-top: 30px;
    color: rgb(255, 51, 0);
}

h4 {
    font-family: "Indie Flower", sans-serif;
    color: cornsilk;
}

a {
    text-decoration: none !important;
}

p {
    display: inline-block;
    font-family: "Indie Flower", sans-serif;
    font-size: 20px;
    color: cornsilk;
}

footer {
    margin-top: 30px;
}

.icon {
    padding-right: 10px;
    font-size: 30px;
    transition: color .8s;
}

.icon:hover {
    color: rgb(255, 51, 0);
}
/*------------------------------------- Styles for design of game */

.row { 
    background-color: rgb(65, 65, 65);
}

.game-container {
    margin: none;
    padding-left: 20px;
    background: rgb(65, 65, 65);
    position: absolute;
    width: 100%;
    color: rgb(0, 0, 0);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.timer, .move-counter {
    font-size: 20px;
    text-align: center;
    display: flex;
    color: rgb(91, 129, 255);
}

#game {
    justify-content: space-evenly;
}

.game-card {
    max-width: 250px;
    max-height: 195px;
    margin: 10px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 10px 6px -6px black;
    background: rgb(255, 238, 0);
    flex: 1 0 20%;
}

.game-card>img {
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    width: 95% !important;
    height: 95% !important;
    position: relative;
}

.flipped>img {
    display: block;
    width: 95%;
    height: 95%;
}

/*------------------------------------- Styles applied multiple times */
.pixel-font {
    font-family: "Press Start 2P", sans-serif;
}

.under-xl {
    flex: 1 0 20%;
}

.xl {
    display: flex;
    align-content: space-between;
}

.right-align {
    text-align: right;   
}
/*------------------------------------- Buttons */

.btn:focus {
    outline: none !important;
}

.btn:active {
    outline: none !important;
    box-shadow: none !important;

 }

 #start {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 40px;
    background-color: #57FF8A;
    color: #194D29;
    border-radius: 15%; 
    border: 4px solid #194D29;
    outline: none;
}

#start:hover, #start:active {
    background-color: rgb(58, 168, 91);
}

#reset {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 40px;
    background-color: rgb(255, 115, 91);
    color: rgb(77, 25, 25);
    border-radius: 15%; 
    border: 4px solid rgb(77, 25, 25);
    outline: none;
}

#reset:hover, #reset:active {
    background-color: rgb(184, 84, 66);
}

.difficulty-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 15%;
    background-color: rgb(91, 129, 255);
    border: 3px solid rgb(25, 49, 77);
    color: rgb(25, 49, 77);
    outline: none !important;

}

.difficulty-button:hover, .difficulty-button:active {
    background-color: rgb(73, 104, 206);
}

.play-again {
    background-color: #57FF8A;
    color: #194D29;
    border-radius: 15%; 
    border: 4px solid #194D29;
}

.play-again:hover, .play-again:active {
    background-color: rgb(58, 168, 91);
}

/*------------------------------------- Styles used in game */

 .transparent {
     opacity: 0;
 }

 .opaque {
     opacity: 1;
 }

.hidden {
    display: none !important;
}

.big-shadow:hover {
    box-shadow: 0 0 20px;
}

.no-click {
    pointer-events: none;
}

.matched {
    display: block;
    opacity: 0%;
    pointer-events: none;

    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
}

/*------------------------------------- Modal */

.modal-background {
    background-color: rgb(65, 65, 65) !important;
    border: 10px solid rgb(26, 25, 25) !important;

}

.modal-title {
    color: rgb(255, 238, 0);
}

.modal-footer, .modal-header {
    border: none !important;
}

/*------------------------------------- Media Queries */

@media screen and (max-width: 600px) {
    .game-card {
        flex: 1 0 30%;
    }

    .medium>.game-card, .hard>.game-card {
        flex: 1 0 25%;
    }
}

@media screen and (min-width: 601px) and (max-width: 769px) {
    .hard>.game-card {
        flex: 1 0 30%;
        max-height: 150px;
        max-width: 200px;
    }
}

@media screen and (min-width: 769px) {
    .hard>.game-card {
        flex: 1 0 14%;
    }

    .difficulty-button {
        width: 150px;
        height: 80px;
        font-size: large;
        margin-top: 45px;
    }

    .timer, .move-counter {
        font-size: medium;
        margin-top: 120px;
    }    
}